{% extends "snipet/base.html" %}

{% load static %}



<!-- section content -->
{% block content %}
<!-- section hero -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="herosatu">
                    <h1>Welcome To My Website  Adam Ghosam</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore porro at reprehenderit aliquam? Adipisci veritatis corrupti harum, quae nemo culpa quos at vero magnam facilis molestiae totam rerum reiciendis. Accusantium.</p>
                    <button type="button" class="btn btn-warning">Get Lear more</button>
                    
                </div>
            </div>
            <div class="col">
                <img class="img-hero" width="600px" src="{% static 'images/Img1.svg' %}">
            </div>
        </div>
    </div>
</section>
<!-- end section hero -->

<!-- section to cnten -->

<section class="artikel">
    <div class="card content">
        <div class="container">
            <figure class="mt-4">
                <blockquote class="blockquote">
                    <h3 class="fw-bold">Artikel Terbaru</h3>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Update Terbaru : <cite title="Source Title">{{time}}</cite>
                </figcaption>
         
            </figure>
            <!-- card artikel -->
            <div class="row">
               {% for postingan in post%}
                <div class="col-sm-4 ">
                  <div class="card mb-4">
                    <div class="card-body">
                        <div class="card">
                            <img  width="318px" height="166px" src="{% static 'images/Img1.svg' %}">
                        </div>
                      <p class="fw-bold text-start mt-1">{{postingan.title}}</p>
                      <p class="card-text">{{postingan.content}}</p>
                      <p class="card-text">{{postingan.releasedat}}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            <!-- end card artkel -->


        </div>
    </div>
    
</section>
<!--end  section to cnten -->





{% endblock %}
<!-- endcontent -->