{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%} " ></script>
    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="{% static 'vendor/popper/popper.min.js'%} " ></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%} " ></script>
    <!-- Option 3: Separate Jquery-->
    <script src="{% static 'vendor/jquery/jquery.min.js'%} " ></script>
    
  </body>
</html>